<!-- error.ejs -->
<div class="d-flex flex-column min-vh-100">
    <main class="flex-fill container">
      <div class="row">
        <div class="alert alert-danger col-6 offset-3 mt-5" role="alert">
          <%= message %>
        </div>
      </div>
    </main>
</div>
  